#Luca Secaira
from random import randint
import time
global money
money = 5000

def slotmachine():
    global Top, space, oneDotL, oneDotM, oneDotR, twoDot
    Top = ' -------'
    fulltop = '| ***** |'
    oneDot6 = '|     * |'
    oneDot5 = '|    *  |'
    oneDot4 = '|   *   |'
    oneDot3 = '|  *    |'
    oneDot2 = '| *     |'
    twodot1 = '| *   * |'
    def one():
        print(top)
        print(oneDot4)
        print(oneDot4)
        print(oneDot4)
        print(oneDot4)
        print(oneDot4)
        print(top)
    def two():
        print(top)
        print(fulltop)
        print(oneDot6)
        print(fulltop)
        print(oneDot2)
        print(fulltop)
        print(top)
    def three():
        print(top)
        print(fulltop)
        print(oneDot6)
        print(fulltop)
        print(oneDot6)
        print(fulltop)
        print(top)
    def four():
        print(twodot1)
        print(twodot1)
        print(fulltop)
        print(oneDot6)
        print(oneDot6)
    def five():
        print(fulltop)
        print(oneDot2)
        print(fulltop)
        print(oneDot6)
        print(fulltop)
    one()
    two()
    three()
    four()
    five()


def Slots():
    print('Hello player, lets test your luck!')
    time.sleep(.4)
    print('You spin the slot machine')
slotmachine()


